$padding = 10px;

.inner
  background: #15191E
  height: 100%
  padding-bottom: 5px // TODO: set this in a better way? On .section?

.header
  position: relative
  background: #283039
  padding: $padding

.headerImage
  width: "calc(100% + (%s * 2))" % $padding
  display: block
  margin: $padding * -1

.headerImage + .headerText
  position: absolute
  bottom: 0
  left: 0
  right: 0
  background: linear-gradient(to top, rgba(black, 1), rgba(black, 0))
  padding: $padding
  font-size: 18px

.seasonLabel
  font-size: .75em
  background: #2B3037
  border-radius: 2px
  padding: 0px 6px
  font-weight: 400
  margin-left: .5em

.itemListWrapper
  margin: 0 -5px -10px -10px

.itemList
  display: inline-flex
  flex-wrap: wrap
  margin: 0 5px 5px 5px

.item
  margin: 0 5px
  margin-bottom: 10px

.title
.desc
  margin: 0

.title
  margin-bottom: .25em
  color: #f7f8f8
  font-weight: 500

  &:only-child
    margin-bottom: 0

.desc
  color: #b7bcbe

.section
  padding: 0 $padding

.sectionName
  margin-top: 10px
  margin-bottom: 2px
  font-weight: 400
